*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 3px rgb(202, 202, 202);
    background-color: white;
}